<div class='footer'>
      <p class='footerLeft'> Copyright &copy; 2019 Anil,Sadasivuni and Co.Ltd. All rights reserved | Motion Picture Universe</p>
      <p class='footerRight'> Follow us on: <a  class='two' href="#">Facebook</a> and <a  class='two' href="#">Twitter</a></p>
</div>
