<div class='lineELement navigation navigationContent'>
    <a  class='three' href="/">Home</a><br><br>
    <a  class='three' href="/categories">Categories</a><br><br>
    <a  class='three' href="#">Trending</a><br><br>
    <a  class='three' href="/contact">Support</a><br><br>
    <a  class='three' href="/about">About Us</a>
</div>
