<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>MPU</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/CSS.css">
		<meta charset="UTF-8">
	</head>
	<body>
		<% include ./partials/header.ejs %>
		<% include ./partials/user-navigation.ejs %>

		<div class='line'>
			<% include ./partials/site-navigation.ejs %>
      <div class='lineELement main mainContent'>
				<h1>The MPU Motive</h1>
				<p>At MPU, we believe there is a better way to cater your entertainment cravings. We are passionate about creating a universe where you can immerse yourself in reading
				articles, writing reviews, making predictions and catch all the crazy stuff going around in entertainment business.</p>
			</div>
		</div>

		<% include ./partials/footer.ejs %>

	</body>
</html>
