<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>MPU</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/CSS.css">
		<meta charset="UTF-8">
	</head>
	<body>
		<% include ./partials/header.ejs %>
		<% include ./partials/user-navigation.ejs %>

		<div class='line'>
			<% include ./partials/site-navigation.ejs %>
      <div class='lineELement main mainContent'>
				<h1>Support</h1>
				<h4>Editorial</h4>
				<p class='contact'>Email: anilsadasivuni@gmail.com</p>
				<h4>Business</h4>
				<h5>Director: Anil Sadasivuni</h5>
				<p  class='contact'>Email: anilsadasivuni@gmail.com</p>
				<h4>Software Compliance & Infringement Issues:</h4>
				<p  class='contact'>In case of any software compliance issues and enquiries for the Company please mail Chief Financial Officer, Anil Sadasivuni at anilsadasivuni@gmail.com</p>
				<h4>Address:</h4>
				<p  class='contact'>
				12002 Apt C,<br>
				Diploma Dr,<br>
				University Terrace Dr,<br>
				Charlotte,Nc<br>
				Phone: 9802503640<br></p>
			</div>
		</div>

		<% include ./partials/footer.ejs %>

	</body>
</html>
