<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>MPU</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/CSS.css">
		<meta charset="UTF-8">
	</head>
	<body>
		<% include ./partials/header.ejs %>
		<% include ./partials/user-navigation.ejs %>

		<div class='line'>
			<% include ./partials/site-navigation.ejs %>
			<div class='lineELement main mainContent'>
				<p>MPU (Motion Picture Universe) is a one stop website for people interested in Films, TV Series, Celebrity articles, Box Office Collection and lot more.</p>
				<p>Write your own reviews, create polls, make box office predictions, create your watch list, maintain your own movie journal and be a part of our universe</p>
			</div>
		</div>

		<% include ./partials/footer.ejs %>

	</body>
</html>
